**/vendor/
/.vendor/
.composer-cache/
.composer-home*/
**/storage/sessions/
**/storage/logs/
**/storage/cache/
**/storage/studio/
app/resources/docs/
app/.env
app/.env.*
*.log
*.sqlite
*.sqlite3
*.db
tmp-*.zip~
.phpunit.result.cache
.phpunit.cache/
coverage/
.DS_Store
Thumbs.db
.artifacts/
